.list-type {
  cursor: pointer;
  list-style-type: none;
  margin: 9px;
  border: 1px solid $gray;
  border-radius: 10px;
  padding: 9px 15px;
  text-align: center;
  &:hover {
    border-color: $darkblue;
  }
}
.active {
  background: $indigo;
  color: $white;
}
