.product {
  min-width: 231px;
  height: 279px;
  margin: 1%;
  border-radius: 5px;
  padding: 9px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  &:hover {
    box-shadow: 0 4px 8px 0 $lightblue, 0 6px 6px 0 $lightblue;
  }
  img {
    width: 180px;
    &:hover {
      transform: scale(1.2);
    }
  }
}
.add {
  color: $darkorange;
  border-color: $darkorange;
  &:hover {
    color: $white;
    border-color: $lightblue;
    background: $lightblue;
  }
}
