.about-logo {
  width: 180px;
  transition: 1s;
  border-radius: 5%;
  box-shadow: 0 4px 8px 0 $indigo, 0 6px 12px 0 $indigo;
  animation: zoom 3s infinite;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
